anaconda-anon-usage
archspec
boltons
Brotli
certifi
cffi
charset-normalizer
click
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
distro
filelock
frozendict
fsspec
idna
iniconfig
Jinja2
joblib
jsonpatch
jsonpointer==2.1
libmambapy
MarkupSafe
menuinst
mock==5.1.0
mpmath
networkx
nltk
numpy
packaging
patch==1.16
platformdirs
pluggy
pycosat
pycparser
PySocks
pytest
regex
requests
ruamel.yaml
setuptools==69.5.1
sympy
torch
tqdm
truststore
typing_extensions
urllib3
wheel==0.43.0
zstandard